* { outline: none; user-select: none; }

body {
    font: 1em / 1.6 serif;
}

body.dark {
    background-color: #171717;
    color: #ccc;
}

body.light {
    background-color: #ecece7;
    color: #323232;
}

#mode {
    text-align: center;
    margin-top: 54px;
}

#mode > p > button,
#mode > p > input {
    padding: .4em 1.2em;
    background: transparent;
    border: none;
    font: bold 1em serif;
    cursor: pointer;
}

#mode > p > input {
    color: #9a9a9a;
    border-bottom: 1px solid #9a9a9a;
}

body.dark #mode > p > button {
    color: #ddd;
    border-bottom: 2px solid #ddd;
}

body.light > #mode > p > button {
    color: #323232;
    border-bottom: 2px solid #323232;
}

#search {
    text-align: center;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search > h1 {
    font-size: 4.2em;
    font-weight: bold;
    color: transparent;
    margin: 0 0 1.6rem .2em;
}

body.dark #search > h1 {
    -webkit-text-stroke: 1px #ddd;
}

body.light #search > h1 {
    -webkit-text-stroke: 1px #323232;
}

#search-bar {
    padding: .6em;
    background: transparent;
    border-radius: .6em;
}

body.dark #search-bar {
    border: 1px solid #9a9a9a;
}

body.light #search-bar {
    border: 1px solid #545454;
}

#search-input,
#search-button {
    font-family: serif;
    background: transparent;
    border: none;
}

#search-input {
    width: 480px;
    margin-left: .6em;
}

body.dark #search-input {
    color: #ddd;
}

body.dark #search-button {
    color: #9a9a9a;
}

body.light #search-input,
body.light #search-button {
    color: #323232;
}

body.dark #search-input::placeholder {
    color: #9a9a9a;
}

body.light #search-input::placeholder {
    color: #545454;
}

#search-button {
    cursor: pointer;
}

dl {
    margin-top: 54px;
    opacity: .6;
    text-align: center;
}

dl > dt,
dl > dd {
    font-size: .9em;
    margin: 0;
}

dl > dt {
    font-weight: bold;
}

body.dark dl > dd {
    font-size: .8em;
    color: #9a9a9a;
}

body.light dl > dd {
    font-size: .8em;
    color: #545454;
}